@mixin d-flex {
  display: flex;
  align-items: center;
}

@mixin font($fontSize: 1rem, $fontWeight: 400, $lineHeight: 1.5rem, $fontColor: $secondary-color, $fontAlign:left){
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  color: $fontColor;
  text-align: $fontAlign;
}

@mixin btn{
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 56px;
  color: $white-color;
  text-align: center;
  background-color: $secondary-color;
  border-radius: 8px;
}
