.recommended{
  width: 100%;
  margin-bottom: $marginBottomUp;

    &__title{
      grid-column: span 12;

      @include font(48px, 700, 48px);

      font-family: Manrope, sans-serif;
    }

    &__card{
      grid-column: span 4;

      .card{
        &__img{
          display: block;
          width: 100%;
          margin-bottom: 24px;
        }

        &__title{
          @include font(18px, 700);

          font-family: Manrope, sans-serif;
          text-transform: uppercase;
          margin-bottom: 8px;
        }

        &__description{
          @include font(16px, 400);

          font-family: Manrope, sans-serif;
          margin-bottom: 12px;
        }

        &__cost{
          @include font(18px, 700);

          font-family: Manrope, sans-serif;
          text-transform: uppercase;
        }
    }
  }
}
