.sound{
  width: 100%;
  margin-bottom: $marginBottomUp;

    &__title{
      grid-column: span 12;

      @include font(48px, 700, 48px);

      font-family: Manrope, sans-serif;
    }

    &__card{
      grid-column: span 6;

      .card{
        &__img{
          display: block;
          width: 100%;
          margin-bottom: 16px;
        }

        &__title{
          @include font(24px, 700, 34px);

          font-family: Manrope, sans-serif;
        }
      }
    }

    &__btn{
      grid-column: span 4;

      @include btn;
    }

    &__btn--primary{
      background-color: #F98921;
    }

}
